body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #F7FDB6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.calculator {
    text-align: center;
}

.nav-links {
    margin-bottom: 20px;
}

.nav-links a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #af0622;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #88212a;
}

.calculation-page {
    display: none;
}

.calculation-page h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
}

input {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #af0622;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #88212a;
}

#luasResult,
#kelilingResult {
    margin-top: 20px;
    color: #333;
}

.biodata {
    width: 250px; /* Lebar aside */
    padding: 20px; /* Menambahkan ruang di sekitar biodata */
    box-shadow: 0 0 10px rgba(7, 1, 1, 0.938);
    border-radius: 8px;
    background-color: #ffffff;
    margin-left: auto; /* Menggunakan auto untuk menengahkan elemen */
    margin-right: auto; /* Menengahkan elemen secara horizontal */
}

.biodata h1 {
    color: #333;
}
.biodata h3 {
    text-align: center;
}
.biodata img {
    width: 100%;
    border-radius: 50%;
}

.kotak {
    margin-top: 20px;
}

.kotak p {
    padding-right: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2; 
}

